name: Build & Test

on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build & Test

    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        node_version: [lts/-1, lts/*, latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Lint code
        run: pnpm run lint

      - name: Build CLI
        run: pnpm run build

      - name: Test CLI commands (unit & integration)
        run: pnpm run test:integration

      - name: Test CLI commands (e2e)
        run: pnpm run test:e2e
